body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(./components/assets/triangle-mosaic.png);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .fs-18 {
    font-size: 18px;
  }

  .mt25 {
    margin-top: 25px;
  }

  /* Nav Styling */
.mr25 {
  margin-right: 15px;
}

/* Login Modal Styling */
  .black-font {
    color: black;
}

/* Colors */

.ice {
  background-color: #00edfc;
}

/* Heading Styles */

h1, h2, h3, h4, h5, h6 {
  font-family: orbitron, sans-serif;

}

h4 {
  font-size: 1.05rem;
  font-weight: 700;

font-style: normal;
}

h5 {
  font-size: .85rem;
}

h6 {
  font-size: 2.25rem;
}

#Modal-0 {
  width:500px;
}

.brand-name  {
  font-size: 1.5rem !important;
}

/* Spaceing */

.mb25 {
  margin-bottom: 25px;
}

.mb50 {
  margin-bottom: 50px;
}


  